body {
    background-color: #f1f0ee;
}

header {
    top: 0;
    font-weight: 700;
    background-color: White;
    color: darkslategray;
    padding: 10px;
}

.logo {
    font-size: 48px;
}

h3 {
    margin: 15px;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.main {
    max-width: 100%;
}

/* styling for newgifs  section, buttons, and search form */
.buttonDiv {
    padding: 10px;
    text-align: center;
    align-content: center;
    font-size: 12px;
}

#newGIFs {
    margin: 10px;
}

.message {
    color: white;
    font-size: 14px;
    margin: 5px;
}

#gif-buttons button {
    margin: 5px;
    color: #f5f5f5;
    background-color: rgba(245, 50, 63, 0.76);
    font-size: 14px;
    border: transparent;
    border-radius: 5px;
}


/* styling for favorites section*/
.favs {
    border: 2px solid white;
    background-color:  #e0474cd5;
    text-align: center;
    padding: 5px;    
}

.favorites {
    margin: 5px;
    padding: 5px;
}

.fav-img {
    height: 60px;
    width:60px;
    padding: 5px;
    margin: 5px;
}


/* styling for gifs area, gifcircle and play div*/
#gifs {
    border: 3px solid white;
    background-color: #7aced6cb;
    height: 380px;
    width: 380px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.gifArea {
    border: 2px solid white;
    background-color: #7acfd6;
    padding: 55px;
}
  
.gif-cir {
    height: 60px;
    width:60px;
    position: absolute; 
    top: 42%;
    left: 42%;
}

.gif-img {  
    display: block;
    margin: 0 auto;
    max-width: 270px;
    max-height: 170px;
    text-align: left;
    margin:0;
    padding: 0;
}

#play {
    border: none;
    height: 170px;
    width: 270px;
    background-color: #7acfd6;
    margin: calc(50% - 85px) auto;
    align-content: center;
    text-align: center;
    text-justify: center;
    line-height: 150%;
    color: white;
}

/* styling for card */
.card-text {
    top: 0;
    color: #f5f5f5;
}

.fav-btn {
    background-color: transparent;
    border: none; 
    color: red; 
}


/* misc */
.unclickable {
    pointer-events: none;
}

.hidden {
    display: none;
}